<div class="top-image">
  <div class="container">
    <div class="top-main">
      <h2>Bon_Todo を活用して日常の大切な物事を
        <br>&nbsp;&nbsp;&nbsp;&nbsp;記録・管理してみよう</h2>
        <%= link_to("Sign up(無料)", "/posts/index", class: "new-user") %>
        <%= link_to("Login", "/login", class: "login-user") %>
    </div>
  </div>
</div>