<div class="posts-new">
  <div class="main-pnew">
    <div class="container">
    
      <h2>List Editing</h2>

      <% @post.errors.full_messages.each do |message| %>
        <div class="error">
          <%= message %>
        </div>
      <% end %>
      
      <%= form_tag("/posts/#{@post.id}/update") do %>
        <div class="new-item">
          <input name="title" type="text" placeholder="title" value="<%= @post.title %>">

          <textarea name="content" type="text" placeholder="text"><%= @post.content %></textarea>
          <input type="submit" value="save">
        </div>
      <% end %>

      <a href="javascript:history.back()" style="color: #ff706c;">[戻る]</a>
    </div>
  </div>
</div>


